@import "../reset.css";
@import "../font.css";
@import "../component/header.css";
@import "../component/footer.css";

.main__search {
    height: 81vh;
}

.main__search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 300px;
    position: relative;
}

.main__search-input {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 20px 0;
    padding-left: 60px; /* Adjusted for search icon */
}

.main__search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.main__search-result {
    margin: 0 300px 0 300px;
    padding-top: 20px;
}